/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url(../../node_modules/modern-normalize/modern-normalize.css);
@import url('./reset.css');
@import url('./1-gallery.css');
@import url('./2-form.css');

ody {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  /* 150% */
}

.homepage-link {
  display: block;
  margin-top: 10px;
  margin-left: 20px;
}

.nav-list {
  display: flex;
  margin: 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.nav-list a {
  border: 1px solid transparent;
  padding: 5px 20px;
  border-radius: 4px;
  background-color: cadetblue;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s ease-in-out;
}

a {
  font-size: 16px;
  padding: 10px 0;
}

a:hover {
  text-decoration: underline;
}

.nav-list a:hover {
  background-color: rgb(0, 118, 78);
  text-decoration: none;
}